.grey {
  background-color: grey;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.block {
  margin-top: 2px;
  width: 60px;
  height: 6px;
}
